::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --default-color: lightgray;
    font: 8px Roboto, sans-serif;
}

body {
    background-color: var(--default-color);
}