*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

:root {
    --default-color: #181414;
    --primary-color: #4A90E2;
    --secondary-color: #50e3a1;
    --accent-color: #9B6DFF;

    font: 10px Roboto, sans-serif;
}

body {
    height: 100vh;
}

.main-container {
    background-color: var(--default-color);

    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

.header,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: var(--primary-color);
    font-size: 4rem;
    font-weight: bold;
}

#book-container {
    background-color: var(--secondary-color);

    height: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-content: center;
    place-items: center;
    gap: 2rem;
}

.book-card {
    background-color: white;
    font-size: 2rem;
    font-weight: 400;
    border: 1px solid black;
    padding: 1rem;
    width: max-content;
}

.book-card>.btn-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.btn-container>button {
    flex: 1;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.footer {
    background-color: var(--accent-color);
}